# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm*
yarn.lock
generated
.pnpm*

# TypeScript
dist/
build/
*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
